body {
	text-align: center;
	background-color: skyblue;
	font-variant: small-caps;
}

p {
	font-variant: normal;
}

.navbuttons .navbutton{
	background-color: rgba(0, 100, 136, 0.2);
	border: none;
	color: white;
	padding: 15px 0px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	cursor: pointer;
	float: left;
	width: 20%;
	font-family: Copperplate; 
	font-style: normal; 
	font-weight: 700; 
	outline: none;
	transition: all 0.3s ease-out;
  }
.navbuttons .navbutton:hover{
	background-color: rgba(0, 100, 136, 0.5);
}

.accessbutton{
	display: block;
	float: center;
	background-color: rgba(0, 100, 136, 0.2);
	border: none;
	color: white;
	padding: 1px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	font-family: "Garamond", serif; 
	font-style: normal; 
	font-variant: small-caps;
	outline: none;
	transition: all 0.3s ease-out;
}
.accessbutton:hover{
	background-color: rgba(0, 100, 136, 0.5);
}

.minorlink{
	color: rgba(0, 0, 255, 0.548)
}
.minorlink:hover{
	color: rgb(0, 0, 250);
}

.inputbutton{
}