body {
	text-align: center;
	background-color: skyblue;
	font-variant: small-caps;
}

p {
	font-variant: normal;
}

.navbuttons .navbutton{
	background-color: rgba(0, 100, 136, 0.2);
	border: none;
	color: white;
	padding: 15px 0px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	cursor: pointer;
	float: left;
	width: 20%;
	font-family: Copperplate; 
	font-style: normal; 
	font-weight: 700; 
	outline: none;
	transition: all 0.3s ease-out;
  }
.navbuttons .navbutton:hover{
	background-color: rgba(0, 100, 136, 0.5);
}

.accessbutton{
	display: block;
	float: center;
	background-color: rgba(0, 100, 136, 0.2);
	border: none;
	color: white;
	padding: 1px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	font-family: "Garamond", serif; 
	font-style: normal; 
	font-variant: small-caps;
	outline: none;
	transition: all 0.3s ease-out;
}
.accessbutton:hover{
	background-color: rgba(0, 100, 136, 0.5);
}

.minorlink{
	color: rgba(0, 0, 255, 0.548)
}
.minorlink:hover{
	color: rgb(0, 0, 250);
}

.inputbutton{
  width: 130px;
  height: 40px;
  background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
  border: none;
  border-radius: 5px;
  position: relative;
  border-bottom: 4px solid #2b8bc6;
  color: #fbfbfb;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  font-size: 15px;
  text-align: left;
  text-indent: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
  cursor: pointer;
/* Just for presentation */  
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.inputbutton:active {
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
  top: 1px;
}

.inputbutton:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #187dbc;
  border-bottom: 20px solid #187dbc;
  border-left: 16px solid transparent;
  border-right: 20px solid #187dbc;
  position: absolute;
  opacity: 0.6; 
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;  
}