<!DOCTYPE html>

<html>
    <head>
        <title>Edit Blog Post - Journal Square</title>
        <link href ="../static/css/styles.css" rel ="stylesheet" type ="text/css">
    </head>

    <body>
      <div class = "navbuttons">
        <a href="/" class = "navbutton">Home</a>
        <a href="/search" class = "navbutton">Search</a>
        <a href="/myBlog" class = "navbutton">My Blog</a>
        <a href="/createPosts" class = "navbutton">Create New Post</a>
        <a href="/logout" class = "navbutton">Logout</a>
    </div>
        <h1>
          Edit Blog Post
        </h1>
        {% if error %}
        <h2 style="color: red;">Error: {{error}}</h2>
        {% endif %}
        <form action="/editBlog/{{id}}" method="POST">
            <strong>Title:</strong>
            <br>
              <input type="text" name="title" value ="{{postTitle}}">
              <br>
              <br>
            <strong>Post Contents:</strong>
            <br>
              <textarea name="contents" rows="6">{{postContent}}</textarea>
            <br>
            <br>
            <input type = "submit" name = "update" value = "Update Post" class="inputbutton">
        </form>
    </body>
</html>
