<!DOCTYPE html>

<html>
    <head>
        {% if found %}
          <title>{{title}} by {{ author }} - Journal Square</title>
        {% else %}
          <title>Not found - Journal Square</title>
        {% endif %}
        <link href ="../static/css/styles.css" rel ="stylesheet" type ="text/css">
    </head>

    <body>
      <div class = "navbuttons">
        <a href="/" class = "navbutton">Home</a>
        <a href="/search" class = "navbutton">Search</a>
        <a href="/myBlog" class = "navbutton">My Blog</a>
        <a href="/createPosts" class = "navbutton">Create New Post</a>
        <a href="/logout" class = "navbutton">Logout</a>
    </div>
      {% if found %}
      <h1>
        {{title}}
      </h1>
      <p>By {{ displayName }} @{{author}}</p>
      <small>
        {% if date != edit %}
        {{date}} (Edited: {{edit}})
        {% else %}
        {{date}}
        {% endif %}
      </small>
      <br>
      <br>
      <p>{{content}}</p>
      {% else %}
      {% if error %}
      <h2 style="color: red;">Error: {{error}}</h2>
      {% else %}
        <p>Not found</p>
      {% endif %}
      {% endif %}
    </body>
</html>
